# The purpose of this CI is to build and test Swift SDKs for a given Swift version.
name: Release Linux Swift SDKs
run-name: Build Swift SDKs for ${{ inputs.swift-version }}, all supported distributions

on:
  workflow_dispatch:
    inputs:
      swift-version:
        description: 'Swift Version'
        required: true
        default: '6.2.1'
        type: string

env:
  SWIFT_VERSION: ${{ inputs.swift-version || '6.1.2' }}
  SDK_GENERATOR_DIR: swift-sdk-generator
  TEST_PROJECT: test-project

jobs:
  sdk-generator-amd64:
    name: Swift SDK Generator (amd64)
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@v4
      - name: Swift Version
        shell: bash
        run: swift --version
      - name: Common Dependencies Cache
        uses: actions/cache@v4
        with:
          key: common-dependencies-amd64
          path: |
            ${{ env.SDK_GENERATOR_DIR }}
            ${{ env.TEST_PROJECT }}/.build
      - name: Build SDK Generator
        shell: bash
        run: ./build-generator.sh
      - name: Resolve Test Dependencies
        shell: bash
        run: swift package resolve --package-path ${{ env.TEST_PROJECT }}
  sdk-generator-arm64:
    name: Swift SDK Generator (arm64)
    runs-on: ubuntu-24.04-arm
    steps:
      - uses: actions/checkout@v4
      - name: Swift Version
        shell: bash
        run: swift --version
      - name: Common Dependencies Cache
        uses: actions/cache@v4
        with:
          key: common-dependencies-arm64
          path: |
            ${{ env.SDK_GENERATOR_DIR }}
            ${{ env.TEST_PROJECT }}/.build
      - name: Build SDK Generator
        shell: bash
        run: ./build-generator.sh
      - name: Resolve Test Dependencies
        shell: bash
        run: swift package resolve --package-path ${{ env.TEST_PROJECT }}

  build-test-x86_64:
    strategy:
      fail-fast: false
      matrix:
        distribution:
        - ubuntu-jammy
        - ubuntu-noble
        - debian-bookworm
        - rhel-ubi9
        - amazonlinux2
    name: Build x86_64
    runs-on: ubuntu-24.04
    permissions:
      contents: write
    needs: [sdk-generator-amd64]
    steps:
    - uses: actions/checkout@v4
    - name: Restore Swift SDK Generator
      uses: actions/cache/restore@v4
      with:
        key: common-dependencies-amd64
        path: |
          ${{ env.SDK_GENERATOR_DIR }}
          ${{ env.TEST_PROJECT }}/.build
        fail-on-cache-miss: true
    - uses: ./.github/actions/build-and-test-sdk
      name: Build, Test, Publish ${{ env.SWIFT_VERSION }} for ${{ matrix.distribution }}
      with:
        swift-version: ${{ env.SWIFT_VERSION }}
        distribution: ${{ matrix.distribution }}
        target-arch: x86_64
    - name: Update Release ${{ env.SWIFT_VERSION }}
      uses: ncipollo/release-action@v1
      with:
        allowUpdates: true
        name: Swift ${{ env.SWIFT_VERSION }} SDKs
        tag: ${{ env.SWIFT_VERSION }}
        commit: ${{ github.sha }}
        artifactErrorsFailBuild: false
        artifacts: "artifacts/*.tar.gz"
        body: |
          Swift SDKs for Swift ${{ env.SWIFT_VERSION }} pre-built for various Linux distributions and architectures.

          Includes the following "extra" packages:
            - `libsystemd-dev` (Debian) / `systemd-devel` (RHEL)

          If you need more package support, please open an issue on the repository or generate custom Swift SDKs
          using the [swift-sdk-generator](https://github.com/swiftlang/swift-sdk-generator) project.

  build-test-aarch64:
    strategy:
      fail-fast: false
      matrix:
        distribution:
        - ubuntu-jammy
        - ubuntu-noble
        - debian-bookworm
        - rhel-ubi9
        - amazonlinux2
    name: Build aarch64
    runs-on: ubuntu-24.04-arm
    permissions:
      contents: write
    needs: [sdk-generator-arm64]
    steps:
    - uses: actions/checkout@v4
    - name: Restore Swift SDK Generator
      uses: actions/cache/restore@v4
      with:
        key: common-dependencies-arm64
        path: |
          ${{ env.SDK_GENERATOR_DIR }}
          ${{ env.TEST_PROJECT }}/.build
        fail-on-cache-miss: true
    - uses: ./.github/actions/build-and-test-sdk
      name: Build, Test, Publish ${{ env.SWIFT_VERSION }} for ${{ matrix.distribution }}
      with:
        swift-version: ${{ env.SWIFT_VERSION }}
        distribution: ${{ matrix.distribution }}
        target-arch: aarch64
    - name: Update Release ${{ env.SWIFT_VERSION }}
      uses: ncipollo/release-action@v1
      with:
        allowUpdates: true
        name: Swift ${{ env.SWIFT_VERSION }} SDKs
        tag: ${{ env.SWIFT_VERSION }}
        commit: ${{ github.sha }}
        artifactErrorsFailBuild: false
        artifacts: "artifacts/*.tar.gz"
        body: |
          Swift SDKs for Swift ${{ env.SWIFT_VERSION }} pre-built for various Linux distributions and architectures.

          Includes the following "extra" packages:
            - `libsystemd-dev` (Debian) / `systemd-devel` (RHEL)

          If you need more package support, please open an issue on the repository or generate custom Swift SDKs
          using the [swift-sdk-generator](https://github.com/swiftlang/swift-sdk-generator) project.

  build-test-armv7:
    strategy:
      fail-fast: false
      matrix:
        distribution:
        - ubuntu-focal
        - ubuntu-jammy
        - ubuntu-noble
        - debian-bookworm
    name: Build armv7
    runs-on: ubuntu-24.04
    permissions:
      contents: write
    needs: [sdk-generator-amd64]
    steps:
    - uses: actions/checkout@v4
    - name: Restore Swift SDK Generator
      uses: actions/cache/restore@v4
      with:
        key: common-dependencies-amd64
        path: |
          ${{ env.SDK_GENERATOR_DIR }}
          ${{ env.TEST_PROJECT }}/.build
        fail-on-cache-miss: true
    - uses: ./.github/actions/build-and-test-sdk
      name: Build, Test, Publish ${{ env.SWIFT_VERSION }} for ${{ matrix.distribution }}
      with:
        swift-version: ${{ env.SWIFT_VERSION }}
        distribution: ${{ matrix.distribution }}
        target-arch: armv7
    - name: Update Release ${{ env.SWIFT_VERSION }}
      uses: ncipollo/release-action@v1
      with:
        allowUpdates: true
        name: Swift ${{ env.SWIFT_VERSION }} SDKs
        tag: ${{ env.SWIFT_VERSION }}
        commit: ${{ github.sha }}
        artifactErrorsFailBuild: false
        artifacts: "artifacts/*.tar.gz"
        body: |
          Swift SDKs for Swift ${{ env.SWIFT_VERSION }} pre-built for various Linux distributions and architectures.

          Includes the following "extra" packages:
            - `libsystemd-dev` (Debian) / `systemd-devel` (RHEL)

          If you need more package support, please open an issue on the repository or generate custom Swift SDKs
          using the [swift-sdk-generator](https://github.com/swiftlang/swift-sdk-generator) project.

